package main

import "fmt"

// TODO: Implement Greet function
// It should return "Hello, {name}!" where {name} is the input parameter
func Greet(name string) string {
	// YOUR CODE HERE
	return ""
}

// TODO: Implement Add function
// It should return the sum of two integers
func Add(a, b int) int {
	// YOUR CODE HERE
	return 0
}

func main() {
	fmt.Println(Greet("World"))
	fmt.Println("2 + 3 =", Add(2, 3))
}
