package kafka

import (
	"github.com/IBM/sarama"
)

type Consumer struct {
	consumer sarama.Consumer
}

func NewConsumer(brokers []string, group string) (*Consumer, error) {
	config := sarama.NewConfig()
	consumer, err := sarama.NewConsumer(brokers, config)
	if err != nil { return nil, err }
	return &Consumer{consumer: consumer}, nil
}

func (c *Consumer) Consume(topic string, handler func(string)) error {
	partitions, _ := c.consumer.Partitions(topic)
	for _, partition := range partitions {
		pc, _ := c.consumer.ConsumePartition(topic, partition, sarama.OffsetNewest)
		go func(pc sarama.PartitionConsumer) {
			for msg := range pc.Messages() {
				handler(string(msg.Value))
			}
		}(pc)
	}
	return nil
}

func (c *Consumer) Close() { c.consumer.Close() }
