package main

import (
    "fmt"
    "log"
    "net/http"
    _ "net/http/pprof" // Starts pprof server automatically
    "time"
)

// inefficientWork creates CPU load to visualize in pprof
func inefficientWork() {
    for {
        for i := 0; i < 1000000; i++ {
            _ = fmt.Sprintf("waste cpu %d", i)
        }
        time.Sleep(100 * time.Millisecond)
    }
}

// leakyWork allocates memory continuously
var leak []string

func leakyWork() {
    for {
        leak = append(leak, "leaking memory")
        time.Sleep(10 * time.Millisecond)
    }
}

func main() {
    // Start workers
    go inefficientWork()
    go leakyWork()

    fmt.Println("Pprof server running on http://localhost:6060/debug/pprof/")
    fmt.Println("Use: go tool pprof http://localhost:6060/debug/pprof/profile?seconds=10")
    
    // Serve pprof
    log.Println(http.ListenAndServe("localhost:6060", nil))
}
