package main

import (
	"os"
	"testing"
)

func TestTodoList(t *testing.T) {
	// Clean up test file
	os.Remove(dataFile)
	defer os.Remove(dataFile)

	tl := &TodoList{NextID: 1}

	// Test Add
	id1 := tl.Add("First todo")
	if id1 != 1 {
		t.Errorf("Add returned id %d, want 1", id1)
	}

	id2 := tl.Add("Second todo")
	if id2 != 2 {
		t.Errorf("Add returned id %d, want 2", id2)
	}

	// Test List
	todos := tl.List()
	if len(todos) != 2 {
		t.Errorf("List returned %d todos, want 2", len(todos))
	}

	// Test Complete
	err := tl.Complete(1)
	if err != nil {
		t.Errorf("Complete(1) returned error: %v", err)
	}

	todos = tl.List()
	if !todos[0].Completed {
		t.Error("Todo 1 should be completed")
	}

	// Test Complete non-existent
	err = tl.Complete(999)
	if err == nil {
		t.Error("Complete(999) should return error")
	}

	// Test Delete
	err = tl.Delete(1)
	if err != nil {
		t.Errorf("Delete(1) returned error: %v", err)
	}

	todos = tl.List()
	if len(todos) != 1 {
		t.Errorf("List returned %d todos after delete, want 1", len(todos))
	}

	// Test Save/Load
	tl.Save()
	loaded, err := Load()
	if err != nil {
		t.Errorf("Load returned error: %v", err)
	}
	if len(loaded.List()) != 1 {
		t.Errorf("Loaded list has %d todos, want 1", len(loaded.List()))
	}
}
